.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
}
.header {
  margin: 10px;
  font-family: 'Playwrite AT';
  text-align: center;
  font-size: 50px;
}

.tableContainer {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  margin: 0 20px;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 25px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.6);
}
